/Manifest.toml
tex/tadmm_formulation.aux
tex/tadmm_formulation.fdb_latexmk
tex/tadmm_formulation.fls
tex/tadmm_formulation.log
tex/tadmm_formulation.synctex.gz
envs/multi_poi/Manifest.toml
envs/ddp/tex/ddp_copperplate_formulation.aux
envs/ddp/tex/ddp_copperplate_formulation.fdb_latexmk
envs/ddp/tex/ddp_copperplate_formulation.fls
envs/ddp/tex/ddp_copperplate_formulation.log
envs/ddp/tex/ddp_copperplate_formulation.synctex.gz
envs/tadmm/Manifest.toml
envs/tadmm/tex/tadmm_formulation.aux
envs/tadmm/tex/tadmm_formulation.fdb_latexmk
envs/tadmm/tex/tadmm_formulation.fls
envs/tadmm/tex/tadmm_formulation.log
envs/tadmm/tex/tadmm_formulation.synctex.gz
envs/tadmm/tex/tadmm_formulation.aux
envs/tadmm/tex/tadmm_formulation.fdb_latexmk
envs/tadmm/tex/tadmm_formulation.fls
envs/tadmm/tex/tadmm_formulation.log
envs/tadmm/tex/tadmm_formulation.synctex.gz
